@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background: gray;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: white;
  cursor: pointer;
}

.home-wrapper::-webkit-scrollbar {
  width: 4px;
}
.home-wrapper::-webkit-scrollbar-thumb {
  background-color: white;
}
.navbar-wrapper::-webkit-scrollbar {
  width: 4px;
}
.navbar-wrapper::-webkit-scrollbar-thumb {
  background-color: white;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(180deg, #3333a3 5.09%, #121212 33.4%);
}

.card-bg {
  background-color: rgba(255, 255, 255, 0.04);
}
.playlist {
  background: linear-gradient(180deg, #def628 4.09%, #121212 46.28%);
}
.playlist::-webkit-scrollbar {
  width: 4px;
}
.search::-webkit-scrollbar {
  width: 4px;
}
